* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  font-size: 62.55%;
}

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  color: #fff;
  background-color: #000;
}

.header {
  grid-area: 1/1/1/4;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  z-index: 1;
}

.container {
  grid-area: 2/1/2/3;
  height: 85vh;
  display: grid;
  grid-template-columns: 50% auto auto auto;
  grid-template-rows: 12% auto auto auto 12%;
}
.container .square {
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: grid;
  place-items: center;
}
.container .square-1 {
  grid-area: 2/2/2/2;
}
.container .square-2 {
  grid-area: 2/3/2/3;
}
.container .square-3 {
  grid-area: 2/4/2/4;
}
.container .square-4 {
  grid-area: 3/2/3/2;
}
.container .square-5 {
  grid-area: 3/3/3/3;
}
.container .square-6 {
  grid-area: 3/4/3/4;
}
.container .square-7 {
  grid-area: 4/2/4/2;
}
.container .square-8 {
  grid-area: 4/3/4/3;
}
.container .square-9 {
  grid-area: 4/4/4/4;
}
.container .left-square {
  border-right: 0.5rem solid #fff;
}
.container .right-square {
  border-left: 0.5rem solid #fff;
}
.container .middle {
  border-bottom: 0.5rem solid #fff;
  border-top: 0.5rem solid #fff;
}

.mark-x, .mark-circle {
  height: 100%;
  width: 100%;
  position: relative;
  display: grid;
  place-items: center;
}

.mark-x::before,
.mark-x::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2rem;
  background-color: #fff;
}

.mark-x::before {
  transform: rotate(45deg);
  left: 1;
}

.mark-x::after {
  transform: rotate(-45deg);
  right: 1;
}

.mark-circle::before {
  content: "";
  position: absolute;
  height: 50%;
  width: 50%;
  border-radius: 50%;
  border: 1.5rem solid #fff;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 2/3/2/3;
  width: 100%;
  height: 40%;
}
.score table {
  width: 60%;
  min-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-collapse: collapse;
  text-align: center;
}
.score table th, .score table td {
  border: 1px solid #4a4a4a;
  padding: 10px;
  font-size: 1.6rem;
}

.players {
  grid-area: 2/1/2/1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 40%;
  gap: 2.5rem;
}
.players .player {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  height: 5rem;
  border: 0.2rem solid #4a4a4a;
  width: 50%;
  font-size: 2rem;
  font-weight: bold;
}
.players .mark-x {
  height: 5rem;
  width: 3.5rem;
}
.players .mark-circle {
  height: 2rem;
  width: 2rem;
}
.players .mark-x::before,
.players .mark-x::after {
  height: 0.7rem;
  background-color: #fff;
}
.players .mark-circle::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 0.5rem solid #fff;
}

.footer {
  grid-area: 3/1/3/4;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}
.footer p a {
  text-decoration: none;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
