* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  font-size: 62.55%;
}

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  color: #fff;
  background-image: linear-gradient(to right top, #9f21e3, #b333e9, #cb5df1);
}

.header {
  grid-area: 1/1/1/4;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  z-index: 1;
}

.container {
  grid-area: 2/1/2/3;
  height: 85vh;
  display: grid;
  place-items: center;
  grid-template-columns: 50% auto auto auto;
  grid-template-rows: 12% auto auto auto 12%;
}
.container .square {
  height: 90%;
  width: 90%;
  cursor: pointer;
  display: grid;
  place-items: center;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.container .square-1 {
  grid-area: 2/2/2/2;
}
.container .square-2 {
  grid-area: 2/3/2/3;
}
.container .square-3 {
  grid-area: 2/4/2/4;
}
.container .square-4 {
  grid-area: 3/2/3/2;
}
.container .square-5 {
  grid-area: 3/3/3/3;
}
.container .square-6 {
  grid-area: 3/4/3/4;
}
.container .square-7 {
  grid-area: 4/2/4/2;
}
.container .square-8 {
  grid-area: 4/3/4/3;
}
.container .square-9 {
  grid-area: 4/4/4/4;
}

.mark-x, .mark-circle {
  height: 100%;
  width: 100%;
  position: relative;
  display: grid;
  place-items: center;
}

.mark-x::before,
.mark-x::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2rem;
  background-color: #fff;
}

.mark-x::before {
  transform: rotate(45deg);
  left: 1;
}

.mark-x::after {
  transform: rotate(-45deg);
  right: 1;
}

.mark-circle::before {
  content: "";
  position: absolute;
  height: 50%;
  width: 50%;
  border-radius: 50%;
  border: 1.5rem solid #fff;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 2/3/2/3;
  width: 100%;
  height: 48%;
}
.score table {
  width: 60%;
  min-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-collapse: collapse;
  text-align: center;
}
.score table th, .score table td {
  border: 0.2rem solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  font-size: 1.6rem;
}

.players {
  grid-area: 2/1/2/1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 67.5%;
  gap: 2.5rem;
}
.players .player {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  height: 5rem;
  border: 0.2rem solid rgba(255, 255, 255, 0.18);
  width: 60%;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
}
.players #result {
  font-size: 2.5rem;
  font-weight: bold;
}
.players .hide {
  visibility: hidden;
}
.players #btnPlayAgain {
  border: 0.2rem solid rgba(255, 255, 255, 0.18);
  padding: 1rem;
  background-color: transparent;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
}
.players #btnPlayAgain:hover {
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  scale: 1.07;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.01);
  border: 0.1rem solid #fff;
}
.players .active {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  scale: 1.07;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.01);
}
.players .mark-x {
  height: 5rem;
  width: 3.5rem;
}
.players .mark-circle {
  height: 2rem;
  width: 2rem;
}
.players .mark-x::before,
.players .mark-x::after {
  height: 0.7rem;
  background-color: #fff;
}
.players .mark-circle::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 0.5rem solid #fff;
}

.footer {
  grid-area: 3/1/3/4;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}
.footer p a {
  text-decoration: none;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
